@use './../../common/variables' as *;
@use './../../common/mixins' as *;

.footer {
  padding: 100px 0;
  background-color: $color-dark-gray;

    &__left {
      gap: 30px;
      max-width: 363px;
    }

    &__description {
      @include text-base(12px);
      
      color: $color-light;
    }

    &__right {
      gap:30px;

      &-content {
        gap:30px;
        justify-content: flex-start;
      }

      p {
        padding-bottom: 10px;
        color: #909090;
      }
    }

    .link-instagram {
      padding-top: 10px;
    }
  }