@use './../../common/media-mixin' as *;
@use './../../common/variables' as *;

.footer {

  @include br1-screen {
    padding: 50px 0;

    &__left {
      gap: 30px;
      max-width: 250px;
    }
  }

  @include br2-screen {
    padding: 50px 0;

    .f-content {
      justify-content: center;
    }

    &__left {
      gap: 30px;
      max-width: 100%;
    }

    &__right {
      margin-top: 20px;
    }
  }

  @include br3-screen {
    padding: 50px 0;

    .f-content {
      justify-content: center;
    }
    
    &__left {
      gap: 30px;
      max-width: 500px;
    }

    &__right {
      margin-top: 40px;
    }
  }
}