@use './../../common/variables' as *;

.banner {

  position: relative;

  height: 100vh;
  padding-top: 200px;

  @include images ("./../../assets/pictures/img/bg.jpg");

  &::after {
    content: '';

    position: absolute;
    top: calc(100vh - 78px);
    right: 0;
    z-index: 2;

    display: block;

    width: 400px;
    height: 153px;

    @include images ("./../../assets/pictures/icons_svg/dot_ornament.svg");
  }

  &__inner {
    max-width: 640px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &__title {
    gap: 30px;

    h1 {
      margin-bottom: 70px;
      color: $color-light;
    }
  }

  .label {
    color: #fff;
  }
}