@use './../../common/variables' as *;

.banner {

  @include images ("./../../assets/pictures/img/bg.jpg");

  position: relative;

  flex-direction: column;
  justify-content: center;

  height: 100vh;
  min-height: 750px;

  &::after {

    @include images ("./../../assets/pictures/icons_svg/dot_ornament.svg");

    content: '';

    position: absolute;
    right: 0;
    bottom: -78px;

    display: block;

    width: 400px;
    height: 153px;
  }

  &__inner {
    max-width: 640px;
  }

  &__title {
    gap: 30px;

    h1 {
      margin-bottom: 70px;
      color: $color-light;
    }
  }

  .label {
    color: #fff;
  }
}