@use './../../common/media-mixin' as *;
@use './../../common/variables' as *;

.banner {

  @include br1-screen {
    &__inner {
      max-width: 470px;
    }

    &__title {
      h1 {
        margin-bottom: 20px;
        font-size: 50px;
      }
    }

    form {
      max-width: 400px;
      font-size: $f-sm;
    }
  }

  @include br2-screen {
    &__inner {
      max-width: 400px;
    }

    &__title {
      h1 {
        font-size: 40px;
      }
    }
  }

  @include br3-screen {
    justify-content: center;

    &__inner {
      max-width: 100%;
    }

      h1 {
        margin-bottom: 10px;
        font-size: 52px;
      }
    }


  @include br4-screen {
      h1 {
        margin-bottom: 10px;
        font-size: 45px;
      }
    }
}