@use './../../common/media-mixin' as *;
@use './../../common/variables' as *;

.header {

  @include br3-screen($br4) {
    &__navigation {
      flex-direction: column;
      align-items: stretch;
    }
  }

  @include br4-screen($br5) {
    &__navigation {
      flex-flow: column nowrap;
      align-items: stretch;
    }

    &__menu {
        gap: 50px;

        &_list {
          gap: 37px;
        }
      }
    }
  }
