@use './../../common/media-mixin' as *;
@use './../../common/variables' as *;

.header {

  @include br3-screen {
    &__navigation {
      flex-direction: column;
      align-items: stretch;
    }

    &__menu {
      gap: 50px;
    }
  }

  @include br4-screen {
      &__navigation {
        flex-flow: column nowrap;
        align-items: stretch;
      }

      &__menu {
        gap: 50px;

        &_list {
          gap: 37px;
        }
      }
    }
  }

