@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Убираем внутренние отступы, удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class */
ul[class],
ol[class] {
  padding: 0;
  text-decoration: none;
  list-style: none; }

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Выставляем основные настройки по-умолчанию для body */
body {
  scroll-behavior: smooth;
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizespeed; }

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Упрощаем работу с изображениями */
img {
  display: block;
  max-width: 100%; }

/* Указываем понятную периодичность в потоке данных у article */
article > * + * {
  margin-top: 1em; }

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit; }

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
/* @media (prefers-reduced-motion: reduce) { */
/*    * { */
/*        animation-duration: 0.01ms !important; */
/*        animation-iteration-count: 1 !important; */
/*        transition-duration: 0.01ms !important; */
/*        scroll-behavior: auto !important; */
/*    } */
/* } */
@font-face {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  src: local("./../../assets/fonts/Inter Regular"), local("Inter-Regular"), url("./../../assets/fonts/Inter-Regular.woff2") format("woff2"), url("./../../assets/fonts/Inter-Regular.woff") format("woff"), url("./../../assets/fonts/Inter-Regular.ttf") format("truetype"); }
@font-face {
  font-family: Itim;
  font-weight: 400;
  font-style: normal;
  src: local("./../../assets/fonts/Itim Regular"), local("Itim-Regular"), url("./../../assets/fonts/Itim-Regular.woff2") format("woff2"), url("./../../assets/fonts/Itim-Regular.woff") format("woff"), url("./../../assets/fonts/Itim-Regular.ttf") format("truetype"); }
@font-face {
  font-family: Poppins-regular;
  font-weight: 400;
  font-style: normal;
  src: local("./../../assets/fonts/Poppins Regular"), local("Poppins-Regular"), url("./../../assets/fonts/Poppins-Regular.woff2") format("woff2"), url("./../../assets/fonts/Poppins-Regular.woff") format("woff"), url("./../../assets/fonts/Poppins-Regular.ttf") format("truetype"); }
@font-face {
  font-family: Poppins-light;
  font-weight: 300;
  font-style: normal;
  src: local("./../../assets/fonts/Poppins Light"), local("Poppins-Light"), url("./../../assets/fonts/Poppins-Light.woff2") format("woff2"), url("./../../assets/fonts/Poppins-Light.woff") format("woff"), url("./../../assets/fonts/Poppins-Light.ttf") format("truetype"); }
@font-face {
  font-family: Poppins-medium;
  font-weight: 500;
  font-style: normal;
  src: local("Poppins Medium"), local("Poppins-Medium"), url("./../../assets/fonts/Poppins-Medium.woff2") format("woff2"), url("./../../assets/fonts/Poppins-Medium.woff") format("woff"), url("./../../assets/fonts/Poppins-Medium.ttf") format("truetype"); }
@font-face {
  font-family: Poppins-semi-bold;
  font-weight: 600;
  font-style: normal;
  src: local("Poppins Semi Bold"), local("Poppins-Semi-Bold"), url("./../../assets/fonts/Poppins-SemiBold.woff2") format("woff2"), url("./../../assets/fonts/Poppins-SemiBold.woff") format("woff"), url("./../../assets/fonts/Poppins-SemiBold.ttf") format("truetype"); }
@use './../common/variables' as *;
h2, h3 {
  font-family: "Poppins-medium", sans-serif;
  color: #000; }

.instruction__card-description, footer .footer__description {
  font-family: "Poppins-regular", sans-serif;
  line-height: 1.4;
  color: #000; }

.content .content-block__graphic {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%; }

@use './../common/extends' as *;
@use './../common/variables' as *;
@use './../common/mixins' as *;
body {
  margin: 0 auto;
  font-family: "Poppins-regular", sans-serif;
  font-size: 18px; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }

.d-flex-wrap {
  display: flex;
  flex-wrap: wrap; }

.space-between {
  justify-content: space-between; }

h1 {
  padding-bottom: 40px;
  font-family: "Poppins-medium", sans-serif;
  font-size: 70px;
  color: #000; }

h2 {
  font-size: 45px; }

h3 {
  font-size: 35px; }

h4 {
  display: inline-block;
  font-family: "Poppins-semi-bold", sans-serif;
  font-size: 22px;
  color: #000; }

.btn {
  cursor: pointer;
  padding: 12px 60px;
  font-family: "Poppins-regular", sans-serif;
  font-size: 20px;
  color: #fff;
  background: #2EACF3;
  border: 2px solid transparent;
  border-radius: 6px 28px 6px 28px; }
  .btn_header {
    padding: 12px 18px;
    font-size: 16px;
    border-radius: 6px; }
  .btn:hover {
    border-color: #9EE9EE;
    transition: 0.3s; }

a {
  color: #fff;
  text-decoration: none; }
  a:hover {
    cursor: pointer;
    color: #2EACF3;
    transition: 0.3s; }

form {
  max-width: 500px; }

.label1 a, .label a {
  color: #2EACF3; }
  .label1 a:hover, .label a:hover {
    color: #2EACF3; }

@use './variables' as *;
@use './../../common/variables' as *;
.header {
  position: absolute;
  z-index: 3;
  right: 0;
  left: 0;
  padding: 25px 0;
  background-color: transparent; }
  .header.text-dark .header__menu a {
    color: #000; }
  .header__navigation {
    align-items: center; }
  .header__menu {
    gap: 80px;
    align-items: center; }
    .header__menu_list {
      gap: 60px; }
    .header__menu_link {
      font-family: "Poppins-light", sans-serif;
      font-size: 20px;
      color: #fff; }

@use './../../common/media-mixin' as *;
@use './../../common/variables' as *;
@media (max-width: 576px) {
  .header__navigation {
    flex-direction: column;
    align-items: stretch; } }
@media (max-width: 480px) {
  .header__navigation {
    flex-flow: column nowrap;
    align-items: stretch; }
  .header__menu {
    gap: 50px; }
    .header__menu_list {
      gap: 37px; } }

@use './../../common/variables' as *;
.promo {
  position: relative;
  min-height: 800px;
  padding-top: 220px;
  padding-bottom: 195px;
  background-image: url("./../../assets/pictures/img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .promo::after {
    content: '';
    position: absolute;
    top: calc(100vh - 65px);
    right: 200px;
    bottom: 0;
    display: block;
    width: 400px;
    height: 140px;
    background-image: url("./../../assets/pictures/icons_svg/dot_ornament.svg");
    background-repeat: no-repeat;
    background-size: cover; }
  .promo__title {
    gap: 40px;
    max-width: 620px; }
    .promo__title h1 {
      color: #fff; }
  .promo__inner {
    position: absolute; }
  .promo .label {
    color: #fff; }

@use './../../common/media-mixin' as *;
@use './../../common/variables' as *;
@media (max-width: 992px) {
  .promo::after {
    top: 723px;
    right: 0; } }
@media (max-width: 576px) {
  .promo__title h1 {
    font-size: 60px; } }
@media (max-width: 480px) {
  .promo__title h1 {
    font-size: 50px; } }

@use './../../common/variables' as *;
@use './../../common/extends' as *;
.content {
  padding-top: 140px;
  padding-bottom: 100px; }
  .content p {
    min-width: 110px; }
  .content .content-block {
    gap: 60px; }
    .content .content-block__left {
      flex-direction: column;
      gap: 50px;
      justify-content: flex-start;
      max-width: 400px; }
      .content .content-block__left a {
        color: #2EACF3; }
    .content .content-block__right {
      gap: 30px; }
    .content .content-block__graphic {
      width: 460px;
      max-width: 100%;
      height: 365px;
      background-image: url("./../../assets/pictures/img/infographic.png"); }
    .content .content-block__values {
      display: inline-flex;
      flex-direction: column;
      gap: 30px;
      max-width: 200px; }
    .content .content-block__values-description {
      font-size: 16px;
      color: #000; }
    .content .content-block__values-title {
      font-family: "Poppins-semi-bold", sans-serif;
      font-size: 18px;
      color: #000; }
    .content .content-block__values-rows {
      flex-direction: column;
      gap: 20px; }
      .content .content-block__values-rows .row {
        display: flex;
        font-size: 16px; }
        .content .content-block__values-rows .row:not(:last-child) {
          border-bottom: 1px solid #000; }
        .content .content-block__values-rows .row__numbers {
          font-size: 18px; }

@use './../../common/media-mixin' as *;
@use './../../common/variables' as *;
@media (max-width: 992px) {
  .content {
    padding-top: 90px; }
    .content .content-block__left {
      gap: 30px;
      min-width: 954px; }
    .content .content-block__right {
      gap: 140px; }
    .content .content-block__graphic {
      width: 500px; } }
@media (max-width: 767px) {
  .content {
    padding-top: 90px; }
    .content .content-block__left {
      gap: 30px;
      min-width: 730px; }
    .content .content-block__right {
      gap: 90px; }
    .content .content-block__graphic {
      width: 400px; } }
@media (max-width: 576px) {
  .content {
    padding-top: 90px;
    padding-bottom: 1px; }
    .content .content-block__left {
      gap: 30px;
      min-width: 520px; }
    .content .content-block__right {
      gap: 15px; }
    .content .content-block__graphic {
      width: 300px; }
    .content .content-block__values {
      gap: 10px; } }
@media (max-width: 480px) {
  .content {
    padding-top: 120px;
    padding-bottom: 50px; }
    .content .content-block__left {
      gap: 30px;
      min-width: 450px; }
    .content .content-block__right {
      gap: 40px; }
    .content .content-block__graphic {
      width: 450px; }
    .content .content-block__values {
      gap: 40px; }
    .content .content-block .row {
      gap: 220px; } }

@use './../../common/variables' as *;
@use './../../common/mixins' as *;
.instruction {
  background-color: #F4F4FA; }
  .instruction__inner {
    gap: 80px;
    padding-top: 140px;
    padding-bottom: 160px; }
  .instruction__cards {
    gap: 40px; }
  .instruction__card {
    max-width: 363px;
    min-height: 332px;
    padding: 35px 65px 45px 30px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 6px 100px 6px 6px; }
    .instruction__card-icons {
      flex-direction: column;
      gap: 25px; }
    .instruction__card-icon {
      padding: 16px 19px;
      background-color: #9EE9EE;
      border-radius: 6px; }
      .instruction__card-icon_purple {
        padding: 18px;
        background-color: #8E85F4;
        border-radius: 6px; }
    .instruction__card-row {
      gap: 15px;
      align-items: center;
      justify-content: flex-start; }
    .instruction__card-number {
      font-family: "Poppins-semi-bold", sans-serif;
      font-size: 20px;
      color: #2EACF3; }
      .instruction__card-number_purple {
        font-family: "Poppins-semi-bold", sans-serif;
        font-size: 20px;
        color: #8E85F4; }
    .instruction__card-description {
      font-size: 18px; }
  .instruction__clicking {
    gap: 100px;
    justify-content: flex-end;
    margin: 0 0 0 auto; }
    .instruction__clicking .label1 {
      font-family: "Poppins-light", sans-serif;
      font-size: 14px; }

@use './../../common/media-mixin' as *;
@use './../../common/variables' as *;
@media (max-width: 992px) {
  .instruction__inner {
    padding-top: 100px;
    padding-bottom: 120px; }
  .instruction__card {
    max-width: 290px;
    padding-right: 35px;
    padding-left: 35px; } }
@media (max-width: 767px) {
  .instruction__inner {
    padding-top: 100px;
    padding-bottom: 120px; }
  .instruction__card {
    max-width: 775px;
    min-height: 250px;
    padding-right: 35px;
    padding-left: 35px; }
    .instruction__card-icons {
      flex-direction: row;
      gap: 72px;
      align-items: center; } }
@media (max-width: 576px) {
  .instruction__inner {
    padding-top: 100px;
    padding-bottom: 120px; }
  .instruction__card {
    max-width: 775px;
    min-height: 250px;
    padding-right: 35px;
    padding-left: 35px; }
    .instruction__card-icons {
      flex-direction: row;
      gap: 20px;
      align-items: center; }
  .instruction__clicking {
    gap: 40px; } }
@media (max-width: 480px) {
  .instruction__inner {
    padding-top: 100px;
    padding-bottom: 120px; }
  .instruction__card {
    max-width: 775px;
    min-height: 250px;
    padding-right: 25px;
    padding-left: 25px; }
    .instruction__card-icons {
      flex-direction: row;
      gap: 20px;
      align-items: center; }
  .instruction__clicking {
    gap: 40px; } }

@use './../../common/variables' as *;
@use './../../common/mixins' as *;
footer {
  background-color: #343434; }
  footer .footer {
    padding: 105px 0; }
    footer .footer__left {
      max-width: 363px; }
    footer .footer__description {
      font-size: 12px;
      padding-top: 30px;
      color: #fff; }
    footer .footer__right {
      gap: 30px; }
      footer .footer__right-content {
        gap: 30px;
        justify-content: flex-start; }
      footer .footer__right p {
        padding-bottom: 10px;
        color: #909090; }
    footer .footer .link-instagram {
      padding-top: 10px; }

@use './../../common/media-mixin' as *;
@use './../../common/variables' as *;
@media (max-width: 767px) {
  footer .footer {
    padding: 50px 0; }
    footer .footer__left {
      max-width: 250px; } }
@media (max-width: 576px) {
  footer .footer {
    padding: 50px 0; }
    footer .footer__left {
      max-width: 500px; }
    footer .footer__right {
      margin-top: 40px; } }

/*# sourceMappingURL=home-page.css.map */
