@use './../../common/variables' as *;

.promo {
  position: relative;

  height: 100vh;
  padding-top: 120px;
  padding-bottom: 195px;

  @include images ("./../../assets/pictures/img/bg.jpg");

  &::after {
    content: '';

    position: absolute;
    top: calc(100vh - 78px);
    right: 0;
    z-index: 2;

    display: block;

    width: 400px;
    height: 153px;

    @include images ("./../../assets/pictures/icons_svg/dot_ornament.svg");
  }

  &__title {
    gap: 30px;

    h1 {
      margin-bottom: 70px;
      color: $color-light;
    }
  }

  &__inner {
    max-width: 620px;
  }

  .label {
    color: #fff;
  }
}