@use './../../common/media-mixin' as *;
@use './../../common/variables' as *;

.promo {

  @include br1-screen {
    &::after {
      top: 723px;
      right: 0;
    }
  }

  @include br3-screen {
      &__title {
        h1 {
          font-size: 60px;
        }
      }
    }

  @include br4-screen {
      &__title {
        h1 {
          font-size: 50px;
        }
      }
    }
  }