@use './../../common/media-mixin' as *;
@use './../../common/variables' as *;

.privacy {

  @include br3-screen {
    padding-bottom: 90px;

    &__content {
      gap: 50px
    }
  }

  @include br4-screen {
    padding-top: 190px;

    h1 {
      padding-bottom: 0;
      font-size: 50px;
    }

    h2 {
      font-size: 32px;
    }

    &__texts {
      gap: 30px;
    }

    &__content {
      gap: 50px
    }
  }
}