@use './../../common/media-mixin' as *;
@use './../../common/variables' as *;

.content {

  @include br1-screen {
    padding-top: 90px;

    .content-block {
      justify-content: center;

      &__left {
        gap: 30px;
        max-width: 100%;
      }

      &__right {
        gap: 90px;
        max-width: 100%;
      }

      &__graphic {
        width: 460px;
      }
    }
  }

  @include br2-screen {
    padding-top: 90px;

    .content-block {
      &__left {
        gap: 30px;
        max-width: 100%;
      }

      &__right {
        flex-wrap: wrap;
        gap: 90px;
        justify-content: center;
      }

      &__graphic {
        width: 460px;
      }

      &__values {
        gap: 10px;
        justify-content: center;
        max-width: 100%;
      }
    }
  }

  @include br3-screen {
    padding-top: 90px;
    padding-bottom: 80px;

    .content-block {
      &__left {
        gap: 30px;
        max-width: 100%;
      }

      &__right {
        gap: 20px;
        justify-content: center;
      }

      &__graphic {
        width: 100%;
      }

      &__values {
        gap: 10px;
        justify-content: center;
        max-width: 500px;
      }

      .row {
        gap: 220px;
      }
    }
  }

  @include br4-screen {
    padding-top: 120px;
    padding-bottom: 50px;

    .content-block {
      &__left {
        gap: 30px;
        max-width: 100%;
      }

      &__right {
        gap: 40px;
      }

      &__graphic {
        width: 100%;
      }

      &__values {
        gap: 40px;
      }

      .row {
        gap: 160px;
      }
    }
  }
}


