@use './../../common/media-mixin' as *;
@use './../../common/variables' as *;

.content {

  @include br1-screen {
    padding-top: 90px;

    .content-block {
      justify-content: center;

      &__left {
        gap: 30px;
        min-width: 954px;
      }

      &__right {
        gap: 140px;
      }

      &__graphic {
        width: 500px;
      }
    }
  }

  @include br2-screen {
    padding-top: 90px;

    .content-block {
      &__left {
        gap: 30px;
        min-width: 730px;
      }

      &__right {
        gap: 90px;
      }

      &__graphic {
        width: 400px;
      }
    }
  }

  @include br3-screen {
    padding-top: 90px;
    padding-bottom: 80px;

    .content-block {
      &__left {
        gap: 30px;
        min-width: 520px;
      }

      &__right {
        gap: 60px;
        justify-content: center;
      }

      &__graphic {
        width: 500px;
      }

      &__values {
        gap: 10px;
        justify-content: center;
        max-width: 500px;
      }

      .row {
        gap: 220px;
      }
    }
  }

  @include br4-screen {
    padding-top: 120px;
    padding-bottom: 50px;

    .content-block {
      &__left {
        gap: 30px;
        min-width: 450px;
      }

      &__right {
        gap: 40px;
      }

      &__graphic {
        width: 450px;
      }

      &__values {
        gap: 40px;
      }

      .row {
        gap: 160px;
      }
    }
  }
}


